{% extends 'ecom/homebase.html' %}
{% load static %}
{% block content %}
  <style media="screen">
    body,
html {
  height: 100%;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-centerY-centerX {
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body {
  background-color:#ffffff;
}

.page-wrapper {
  height: 100%;
  display: table;
}

.page-wrapper .page-inner {
  display: table-cell;
  vertical-align: middle;
}

.el-wrapper {
  width: 360px;
  padding: 15px;
  margin: 15px auto;
  background-color: rgb(154, 149, 156);
}

@media (max-width: 991px) {
  .el-wrapper {
    width: 345px;
  }
}

@media (max-width: 767px) {
  .el-wrapper {
    width: 290px;
    margin: 30px auto;
  }
}

.el-wrapper:hover .h-bg {
  left: 0px;
}

.el-wrapper:hover .price {
  left: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #3edd1e;
}

.el-wrapper:hover .add-to-cart {
  left: 50%;
}

.el-wrapper:hover .img {
  webkit-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
  opacity: 0.4;
}

.el-wrapper:hover .info-inner {
  bottom: 155px;
}

.el-wrapper:hover .a-size {
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
  bottom: 50px;
  opacity: 1;
}

.el-wrapper .box-down {
  width: 100%;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.el-wrapper .box-up {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.el-wrapper .img {
  padding: 20px 0;
  -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
}

.h-bg {
  -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  width: 660px;
  height: 100%;
  background-color: #3f96cd;
  position: absolute;
  left: -659px;
}

.h-bg .h-bg-inner {
  width: 50%;
  height: 100%;
  background-color: #df1616;
}

.info-inner {
  -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  position: absolute;
  width: 100%;
  bottom: 25px;
}

.info-inner .p-name,
.info-inner .p-company {
  display: block;
}

.info-inner .p-name {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: #252525;
}

.info-inner .p-company {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #FFE11B;
}

.a-size {
  -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  position: absolute;
  width: 100%;
  bottom: -20px;
  font-family: 'PT Sans', sans-serif;
  color: #e61336;
  opacity: 0;
}

.a-size .size {
  color: #252525;
}

.cart {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.cart .price {
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #252525;
}

.cart .add-to-cart {
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 110%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cart .add-to-cart .txt {
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  white-space: nowrap;
}
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  height: 400px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
 
/* for sliding images */


.slider{
  position: relative;
  background: #000116;
  width: 100%
  min-height: 500px;
  margin: 40px;
  overflow: hidden;
  border-radius: 10px;
}

.slider .slide{
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}

.slider .slide img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slide .info{
  position: absolute;
  color: #222;
  background: rgba(255, 255, 255, 0.3);
  width: 75%;
  margin-top: 50px;
  margin-left: 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}

.slider .slide .info h2{
  font-size: 2em;
  font-weight: 800;
}

.slider .slide .info p{
  font-size: 1em;
  font-weight: 400;
}

.navigation{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .navigation{
  opacity: 1;
}

.prev-btn, .next-btn{
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
}

.prev-btn{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.next-btn{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.navigation-visibility{
  z-index: 999;
  display: flex;
  justify-content: center;
}

.navigation-visibility .slide-icon{
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active{
  background: #4285F4;
}

@media (max-width: 900px){
  .slider{
    width: 100%;
  }

  .slider .slide .info{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 500px){
  .slider .slide .info h2{
    font-size: 1.8em;
    line-height: 40px;
  }

  .slider .slide .info p{
    font-size: 0.9em;
  }
}
 
/* Best seller */
 /* PRODUCTS */
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}
 </style>




 <!--Sliding images--> 

 <div class="slider">
  <div class="slide active">
    <img class="avatar" src="static\images\Colleen Hoover Bundle.jpg" alt="Not Found" onerror=this.src="https://i.ibb.co/QY0MQ4W/Colleen-Hoover-Bundle.jpg">
    <div class="info">
    </div>
  </div>
  <div class="slide">
    <img src="static\images\Best Self Help Books Bundle.jpg" onerror=this.src="https://i.ibb.co/b7nvJB4/Best-Self-Help-Books-Bundle.jpg">
    <div class="info">
    </div>
  </div>
  <div class="slide">
    <img src="static\images\clothesbound (1).jpg" onerror=this.src="https://i.ibb.co/9tDwHY5/clothesbound-1.jpg">
    <div class="info">
    </div>
  </div>
  <div class="slide">
    <img src="static\images\used books banner.png" onerror=this.src="https://i.ibb.co/5s9h915/used-books-banner.png">
    <div class="info">
    </div>
  </div>
  <div class="slide">
    <img src="static\images\bookscover.png" onerror=this.src="https://i.ibb.co/ZgPLzpV/bookscover.png">
    <div class="info">
    </div>
  </div>
  <div class="navigation">
    <i class="fas fa-chevron-left prev-btn"></i>
    <i class="fas fa-chevron-right next-btn"></i>
  </div>
  <div class="navigation-visibility">
    <div class="slide-icon active"></div>
    <div class="slide-icon"></div>
    <div class="slide-icon"></div>
    <div class="slide-icon"></div>
    <div class="slide-icon"></div>
  </div>
</div>

<!-- scripts for sliding images-->
<script type="text/javascript">
  const slider = document.querySelector(".slider");
  const nextBtn = document.querySelector(".next-btn");
  const prevBtn = document.querySelector(".prev-btn");
  const slides = document.querySelectorAll(".slide");
  const slideIcons = document.querySelectorAll(".slide-icon");
  const numberOfSlides = slides.length;
  var slideNumber = 0;

  //image slider next button
  nextBtn.addEventListener("click", () => {
    slides.forEach((slide) => {
      slide.classList.remove("active");
    });
    slideIcons.forEach((slideIcon) => {
      slideIcon.classList.remove("active");
    });

    slideNumber++;

    if(slideNumber > (numberOfSlides - 1)){
      slideNumber = 0;
    }

    slides[slideNumber].classList.add("active");
    slideIcons[slideNumber].classList.add("active");
  });

  //image slider previous button
  prevBtn.addEventListener("click", () => {
    slides.forEach((slide) => {
      slide.classList.remove("active");
    });
    slideIcons.forEach((slideIcon) => {
      slideIcon.classList.remove("active");
    });

    slideNumber--;

    if(slideNumber < 0){
      slideNumber = numberOfSlides - 1;
    }

    slides[slideNumber].classList.add("active");
    slideIcons[slideNumber].classList.add("active");
  });

  //image slider autoplay
  var playSlider;

  var repeater = () => {
    playSlider = setInterval(function(){
      slides.forEach((slide) => {
        slide.classList.remove("active");
      });
      slideIcons.forEach((slideIcon) => {
        slideIcon.classList.remove("active");
      });

      slideNumber++;

      if(slideNumber > (numberOfSlides - 1)){
        slideNumber = 0;
      }

      slides[slideNumber].classList.add("active");
      slideIcons[slideNumber].classList.add("active");
    }, 2000);
  }
  repeater();

  //stop the image slider autoplay on mouseover
  slider.addEventListener("mouseover", () => {
    clearInterval(playSlider);
  });

  //start the image slider autoplay again on mouseout
  slider.addEventListener("mouseout", () => {
    repeater();
  });
  </script>


<!-- Best seller new card -->
<section class="product"> 
  <h2 class="product-category">Best Selling</h2>
  <button class="pre-btn"><img src="static\images\arrow.png" onerror=this.src="https://i.ibb.co/N1xzsYR/arrow.png"></button>
  <button class="nxt-btn"><img src="static\images\arrow.png" onerror=this.src="https://i.ibb.co/N1xzsYR/arrow.png"></button>
  
  <div class="product-container">
      <div class="product-card">
          <div class="product-image">
              <span class="discount-tag">10% off</span>
              <img src="static\product_image\end_with_up.jpg" class="product-thumb" onerror=this.src="https://i.ibb.co/1d2rj8s/end-with-up.jpg">
              <button class="card-btn"> <a href="#"> add to cart </a> </button>
          </div>
          <div class="product-info">
              <h2> &#9733; &#9733; &#9733; &#9733; &#9734; </h2>
              <p class="product-short-description"> It End With Us: A Noverl </p>
              <span class="price">Rs 800</span><span class="actual-price">Rs 880</span>
          </div>
      </div>

      <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">10% off</span>
            <img src="static\product_image\atomic.jpg" class="product-thumb" onerror=this.src="https://i.ibb.co/JkcdHKw/atomic.jpg">
            <button class="card-btn"> <a href="#"> add to cart </a> </button>
        </div>
        <div class="product-info">
            <h2> &#9733; &#9733; &#9733; &#9733; &#9734; </h2>
            <p class="product-short-description"> Atomic Habits: An Easy & Proven Way to Build Good Habits </p>
            <span class="price">Rs 900</span><span class="actual-price">Rs 1000</span>
        </div>
    </div>

    <div class="product-card">
          <div class="product-image">
              <span class="discount-tag">10% off</span>
              <img src="static\product_image\ikigai.jpg" class="product-thumb" onerror=this.src="https://i.ibb.co/n6c4mzs/ikigai.jpg">
              <button class="card-btn"> <a href="#"> add to cart </a> </button>
          </div>
          <div class="product-info">
              <h2> &#9733; &#9733; &#9733; &#9733; &#9734; </h2>
              <p class="product-short-description"> Ikigai: The Japanese Secret to a Long andHappy Life </p>
              <span class="price">Rs 500</span><span class="actual-price">Rs 550</span>
          </div>
      </div>

      <div class="product-card">
          <div class="product-image">
              <span class="discount-tag">10% off</span>
              <img src="static\product_image\sapiens.gif" class="product-thumb" onerror=this.src="https://i.ibb.co/Kq4sG7B/sapiens.webp">
              <button class="card-btn"> <a href="#"> add to cart </a> </button>
          </div>
          <div class="product-info">
              <h2> &#9733; &#9733; &#9733; &#9733; &#9734; </h2>
              <p class="product-short-description"> Sapiens: A Brief History of Humankind </p>
              <span class="price">Rs 800</span><span class="actual-price">Rs 880</span>
          </div>
      </div>

      <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">10% off</span>
            <img src="static\product_image\karnali.jpg" class="product-thumb" onerror=this.src="https://i.ibb.co/QC18Mf7/karnali.jpg">
            <button class="card-btn"> <a href="#"> add to cart </a> </button>
        </div>
        <div class="product-info">
            <h2> &#9733; &#9733; &#9733; &#9733; &#9734; </h2>
            <p class="product-short-description"> Karnali Blues: By Buddhisagar </p>
            <span class="price">Rs 700</span><span class="actual-price">Rs 770</span>
        </div>
    </div>

    <div class="product-card">
      <div class="product-image">
          <span class="discount-tag">10% off</span>
          <img src="static\product_image\palpasa_cafe_english_frontcover.jpg" class="product-thumb" onerror=this.src="https://i.ibb.co/ykRBP5V/palpasa-cafe.jpg">
          <button class="card-btn"> <a href="#"> add to cart </a> </button>
      </div>
      <div class="product-info">
          <h2> &#9733; &#9733; &#9733; &#9733; &#9734; </h2>
          <p class="product-short-description"> Palpasa Cafe </p>
          <span class="price">Rs 370</span><span class="actual-price">Rs 400</span>
      </div>
  </div>

  <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">10% off</span>
            <img src="static\product_image\The_Catcher_in_the_Rye_1951_first_edition_cover.jpg" class="product-thumb" onerror=this.src="https://i.ibb.co/z4DS097/The-Catcher-in-the-Rye-1951-first-edition-cover.jpg">
            <button class="card-btn"> <a href="#"> add to cart </a> </button>
        </div>
        <div class="product-info">
            <h2> &#9733; &#9733; &#9733; &#9733; &#9734; </h2>
            <p class="product-short-description"> The Catcher in the Rye: World famous novel </p>
            <span class="price">Rs 540</span><span class="actual-price">Rs 600</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">10% off</span>
            <img src="static\product_image\end_with_up.jpg" class="product-thumb" onerror=this.src="https://i.ibb.co/2sKvHg8/end-with-up.jpg">
            <button class="card-btn"> <a href="#"> add to cart </a> </button>
        </div>
        <div class="product-info">
            <h2> &#9733; &#9733; &#9733; &#9733; &#9734; </h2>
            <p class="product-short-description"> It End With Us - Collen Hoover </p>
            <span class="price">Rs 800</span><span class="actual-price">Rs 880</span>
        </div>
    </div>

    <div class="product-card">
      <div class="product-image">
          <span class="discount-tag">10% off</span>
          <img src="static\product_image\Demon_Slayer_-_Kimetsu_no_Yaiba_volume_1.jpg" class="product-thumb" onerror=this.src="https://i.ibb.co/jv7G6r9/Demon-Slayer-Kimetsu-no-Yaiba-volume-1.jpg">
          <button class="card-btn"> <a href="#"> add to cart </a> </button>
      </div>
      <div class="product-info">
          <h2> &#9733; &#9733; &#9733; &#9733; &#9734; </h2>
          <p class="product-short-description"> Demon Slayer: Kimetsu no Yaiba Volume 1 </p>
          <span class="price">Rs 900</span><span class="actual-price">Rs 980</span>
      </div>
  </div>

  <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">10% off</span>
            <img src="static\product_image\mockingbird.jpg" class="product-thumb" onerror=this.src="https://i.ibb.co/hRc59qZ/mockingbird.jpg">
            <button class="card-btn"> <a href="#"> add to cart </a> </button>
        </div>
        <div class="product-info">
            <h2> &#9733; &#9733; &#9733; &#9733; &#9734; </h2>
            <p class="product-short-description"> To Kill a mocking bird </p>
            <span class="price">Rs 600</span><span class="actual-price">Rs 650</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">10% off</span>
            <img src="static\product_image\harry_potter.jpg" class="product-thumb" onerror=this.src="https://i.ibb.co/8KNv0Jt/harry-potter.jpg">
            <button class="card-btn"> <a href="#"> add to cart </a> </button>
        </div>
        <div class="product-info">
            <h2> &#9733; &#9733; &#9733; &#9733; &#9734; </h2>
            <p class="product-short-description"> Haryy Potter: and The Philosopher Stone </p>
            <span class="price">Rs 400</span><span class="actual-price">Rs 440</span>
        </div>
    </div>

  </div>
</section>

<!--Best seller js-->
<script>
  const productContainers = [...document.querySelectorAll('.product-container')];
const nxtBtn = [...document.querySelectorAll('.nxt-btn')];
const preBtn = [...document.querySelectorAll('.pre-btn')];

productContainers.forEach((item, i) => {
    let containerDimensions = item.getBoundingClientRect();
    let containerWidth = containerDimensions.width;

    nxtBtn[i].addEventListener('click', () => {
        item.scrollLeft += containerWidth;
    })

    preBtn[i].addEventListener('click', () => {
        item.scrollLeft -= containerWidth;
    })
})
</script>


<!--Books list-->
{%if products%}
<h3 style="text-align:center; color:yellow;">{{word}}</h3>
<br>
<!-- products data starttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt -->
  <div class="row">

      {% for p in products %}
      <!-- card1 -->
      <div class="column">
      <div class="container page-wrapper" style="width: 50px;">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="{% static p.product_image.url %}" alt="product pic" height="300px" width="300px">
                <div class="img-info">
                  <div class="info-inner">
                    <span style="background-color:#08050a; color:yellow;"class="p-company">{{p.name}}</span>

                  </div>
                  <div class="a-size">{{p.description}}</div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="{% url 'add-to-cart' p.id  %}">
                  <span class="price"> Rs {{p.price}}</span>
                  <span class="add-to-cart">
                    <span class="txt">Add in cart</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
<!-- card1 end -->
{% if forloop.counter|divisibleby:"3" %}
    </div>

    <div class="row">

          <br><br><br><br><br>
{% endif %}
  {% endfor %}
</div>
<!-- products data enddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd -->
{%else%}
<h3 style="text-align:center; color:yellow;">No Search Found</h3>
{%endif%}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>


    {%if messages %}
    {%for message in messages%}
    alert('{{message}}');
    {%endfor%}
    {%endif%}

<br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>


{% endblock content %}
